/*
-----------------------------------
TOC
-----------------------------------

Fonts:....................Available font-family declarations

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Page Globals:.............Styling of HTML and BODY

Site Elements:............Re-usable site elements 	

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Page/Element Specific:....Page, element or flow Specific CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

Additive CSS:.............Additive/override CSS

*/

/* ------------------------------------
$ Fonts
------------------------------------ */

/* ------------------------------------
$ Bootstrap Overrides
------------------------------------ */

/* ------------------------------------
$ Page Globals
------------------------------------ */

/* ---- Pictograms ---- */

/* Pictograms: Sizes */
.pictogram_56 {
  width: 56px !important;
  height: auto !important;
}
.pictogram_64 {
  width: 64px !important;
  height: auto !important;
}
.pictogram_72 {
  width: 72px !important;
  height: auto !important;
}
.pictogram_100 {
  width: 100px !important;
  height: auto !important;
}

/* ------------------------------------
$ Structure
------------------------------------ */

/* ---- Section Header ---- */

/* Section Header: Affix on Scroll */
.section_header.affix {
  width: 100%;
  z-index: 1035;
  top: 0;
}

/* Affix: Level 3 */
.section_header.level_3.affix ~ .sticky_header_container.affix {
  border-bottom: 1px solid #ccc;
}
