<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Create and run a presentation using images from iPhoto version 1.2, Copyright © 2010 Microsoft Corporation. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.microsoft.Automator.Create_and_run_a_presentation_using_images_from_iPhoto</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Create and run a presentation using images from iPhoto</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2010 Microsoft Corporation. All rights reserved.</string>
</dict>
</plist>
